<div class="container py-3">
    <h5>All Categories</h5>
    <div *ngIf="isLoading" class="text-center">
      <p>Loading categories...</p>
    </div>
  
    <div *ngIf="error" class="text-center text-danger">
      <p>{{ error }}</p>
    </div>
  
    <div *ngIf="!isLoading && !error" class="d-flex flex-wrap flex-row">
      <div class="col-4 col-md-3 mx-1" *ngFor="let category of categoriesList">
        <div class="category-card border py-2 px-3 mb-3 text-center rounded">
          <a href="#">
            <p class="text-capitalize category" style="margin-bottom: 0;">{{ category }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->